/* #toylist-page {
    margin:1000px
    
} */

#item {
    display: inline-block;
    border-style:hidden;
    padding: 30px;
    margin: 30px;
    margin-top: 50px;
    margin-left: 50px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    
}

button {
    cursor: pointer;
}

#selector {
    cursor: pointer;
}

#image {
    border-style: hidden;
}

