#wishlist {
    background-image: url("/Users/fionaberkery/CodeClan_work/week_8/weekend_homework/retro_box/the_retro_box_2/src/images/wallpaper6.webp");
    background-size: cover;
    height:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


#wishlist-header {
    
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
    border-style:solid;
    border-color: #f7eb54;
    width:fit-content;
    height: fit-content;
    margin-top: 40px;
    background-color: #b7a0d1;
    padding:25px;
    border-radius: 10px;

}

#the-wishlist-list {
    border-style: solid;
    background-color: #f7eb54;
    border-color: #b7a0d1;
    padding: 40px;
    font-weight: bold;
    min-height: 500px;
    min-width: 500px;

}
