#home-page {
    background-image: url("/Users/fionaberkery/CodeClan_work/week_8/weekend_homework/retro_box/the_retro_box_2/src/images/wallpaper.jpeg");
    height:1000px;

}

#container {
    display: grid;
    grid-template-areas: 
    'item item item';
}

#item {
    border-style: solid;
    width:fit-content;
    padding: 30px;
    margin: 30px;
    height: 300px;
    width: 300px;
    text-align: center;
}

button {
    cursor: pointer;
}

#selector {
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
}

#nav-bar {
    margin-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#title {
    margin-left: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
}